* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section {
    background-color: #E4EBFF;
    width: 1604px;
    height: 2377px;
    margin: 0 auto;
    padding-top: 119px;
    margin-top: 119px;
}

#secondSection {
    background-color: #fff;
    width: 1280px;
    height: 2152px;
    margin: 0 auto;
    padding-top: 96px;
}

#features {
    text-align: center;
    color: #6941C6;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

#analytics {
    text-align: center;
    color: #181D27;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 32px;
}

#powerful {
    text-align: center;
    color: #535862;
    font-size: 20px;
    font-weight: 400;
}

#mainSection {
    margin-top: 101px;
    display:block;
}

#messageDiv {
    display: inline-block;
    padding-top: 86px;
    margin-left: 32px;
    margin-right: 101px;
}

#teamInboxes {
    margin-top: 20px;
    color: #181D27;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}

#weather {
    width: 553px;
    height: 56px;
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

#leverageDiv {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 20px;
}

#checkbox {
    vertical-align: middle;
}

#automation {
    vertical-align: middle;
    display: inline-block;
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    margin-left: 12px;
}

#alwaysDiv {
    vertical-align: middle;
    margin-bottom: 20px;
}

#secondCheckbox {
    vertical-align: middle;
}

#always {
    vertical-align: middle;
    display: inline-block;
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    margin-left: 12px;
}

#thirdCheckbox {
    vertical-align: middle;
}

#automate {
    vertical-align: middle;
    display: inline-block;
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    margin-left: 12px;
}

#between {
    margin-top: 96px;
    margin-bottom: 96px;
    display: inline-block;

}

#deliverDiv {
    display: inline-block;
    width: 560px;
    height: 334px;
    margin-left: 101px;
    vertical-align: top;
}

#featured {
    margin-bottom: 30px;
    width: 48px;
    height: 48px;
     
}

#instant {
    color: #181D27;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}

p {
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

#checking {
    display: inline-block;
    width: 28px;
    vertical-align: middle;
    margin-right: 12px;
}

.check {
    
    margin-left: 16px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.text {
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 12px;

}

#texting {
    display: inline-block;
    vertical-align: middle;
} 

#lastSection {
    margin-bottom: 96px;
}

#manageDiv {
    margin-top: 89px;
    margin-left: 32px;
    margin-right: 96px;
    margin-bottom: 89px;
    display: inline-block;
    vertical-align: top;
}

#manage {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #181D27;
    margin-bottom: 16px;
}

#measure {
    color: #535862;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    width: 560px;
    height: 56px;
}

#checkDiv {
    display: inline-block;
    width: 28px;
    vertical-align: middle;
    margin-right: 12px;
}

#textDiv {
    display: inline-block;
    vertical-align: middle;
}



#mode {
    margin-right: -20px;
}
